# Dependencies
node_modules/


# Build output
dist/
build/
frontend/dist/

# Runtime / cache
backend/data/*.json
!backend/data/.gitkeep
streamer/descargas/
*.log

frontend/.android-sdk/
backend/FlashscoreScraping/

# OS / IDE
.DS_Store
.vercel
